.authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: var(--default-spacing);
    row-gap: var(--default-spacing);
}

.author {
    text-align: center;
    line-height: 1.3;

    .authorName {
        font-size: 1.1em;
    }

    .authorAffiliation {
        font-size: 0.9em;
    }
}